.container-fluid
{
padding:0px;
margin:auto;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
 }
 .carousel-control.left, .carousel-control.right {
    background-image: none
}
@media screen and (max-width: 768px) 
{
	.pa
	{
		font-size:40px !important;
	}
	.intro
	{
		margin-top:1px !important;
	}
	.smGlobalBtn 
	{
		padding-left:0px !important;
		width:35px !important;
		height:35px !important;
		font-size:15px !important;
		line-height:2em !important;
	}
	

}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
<!--------------------------------Smaller screen---------------------------------------->
@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
	 
}
<!----------------------------------end----------------------------------------------------------->
.sample
{
		transition:transform 0.3s ease-in-out;
		box-shadow:1.2px 1.1px 1.3px 1.6px powderblue;
		}
.sample:hover
{
    transform: translate(10px,-22px); /* Standard syntax */
}
.footer
{
	background-image: url('tex.jpg');
    height: 65%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero
{
	background-image: url('mecover.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
	overflow:hidden;    
		width:100%;
    height: 100%; 

    background-position: center;
}
.fa{font-size:20px;cursor:pointer;}
video:hover
{
	transform:scale(1.2,1.2);
    box-shadow:1px 1.2px 1.3px 1.8px black;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}
.githubBtn{
    background: black;
}
.githubBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09b"; /* add facebook icon */
}

.githubBtn:hover{
    color: black;
    background: white;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}
html,body
{
height:100%;
width:100%;
}
video {
    width: 100%;
    box-shadow:3px 3px 3px 3px black;
	height: auto;
}
.demo-parent
{
	transition:transform 0.5s ease-in;
}
.title
{
	font-family:open sans;
	color:red;
	font-style:underline;
}
.content
{
	font-family:sans serif;
	font-size:20px;
}
@-webkit-keyframes spin 
{
  from{ -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes move 
{
  0% { margin-left:0px;}
  25% { margin-left:-280px; }
   50% { margin-left:380px; }
    100% { margin-left:0px; }
}
.anim
{
	 -webkit-animation: spin 5s linear infinite, move 5s linear infinite;
	 animation-fill-mode:forwards;
}
.fa-code,.fa-cog,.fa-wrench
{
	font-size:75px;
	padding-left:40px;
	color:maroon;
	padding-right:40px;
}
.fa-cogs
{
 -webkit-animation: spin 5s linear infinite;
	 animation-fill-mode:forwards;	
}
p
{
	font-weight:bold;
}
#hero-text
{
	height:400px;
}
.in_hide
{
	display:none;
}
@keyframes zoom
{
	0% {transform:scale(1,1);}
	50% {transform:scale(1.4,1.4);}
	100% {transform:scale(1,1);}
}
#bt_zoom
{
    animation-iteration-count: infinite;
	animation-name:zoom;
	animation-duration:1s;
	animation-fill-mode:backwards;
	font-family:gotiah;
}
#bt_zoom:hover
{
 animation-play-state: paused;
 }
 {box-sizing:border-box}

.skill_container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}
.zero{width:0px !important;background-color:gray !important;}
.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 70%; background-color: #f44336;} /* Red */
.php {width: 75%; background-color: #808080;}
.jquery {width: 60%; background-color: orange;}
.mysql {width: 70%; background-color: brown;}
.bootstrap {width: 80%; background-color: black;}
